::-webkit-scrollbar {
    display: none;
}
html {
    scroll-behavior: smooth;
} 
    
body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%;
    overscroll-behavior: none;
    margin: 0;
}
.nav-title {
    

    font-family: 'Roboto', sans-serif;
    font-weight: bolder ;


}
.nav-logo {
    border-radius: 50%;
    background-image: url(qcu\ logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: .626rem;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding-top: .626rem;
    padding-bottom: .626rem;
    font-style: bolder;
    font-family: poppins;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    opacity: 1;

}
#Home .right-nav-container a  {
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: .626rem;
    border-radius: .938rem;
}
#Home .right-nav-container a:hover {
    
    color: #1025A1;
}

.right-nav-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.left-nav-container {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    
    margin-left: 1.5rem;

}

.right-nav-container svg {
    display: none;
}
.right-nav-container li a{
    display: none;
}
.dropdown-contents {
    width: max-content;
    position: absolute;
    right: 3.125rem;
    background-color: white;
    font-size: smaller; 
    display: none;
    padding-right: 2.5rem;
    
}
.dropdown-contents li:hover {
    color: #1025A1;
    cursor: pointer;
    background-color: whitesmoke;
    width: 100%;
    
}
@media (max-width: 768px) {
    .right-nav-container {
        width: 10%;
        display: block; 
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: -0.938rem;
    } 

    .right-nav-container a {
        display: none;
    }
 
    .right-nav-container svg {
        display: block;
    }

     
    svg:hover {
        cursor: pointer;
    }
    .dropdown-contents li a{
        display: block;
        padding: 0.626rem;
    }
}
@media (max-width: 425px) {
.dropdown-contents {
    right: 1.25rem;
    background-color: white;
    font-size: smaller;
    }
    
}
@media (max-width: 502px) {
    h1 {
        font-size: 1.5rem;
    }
    
}
li {
    list-style: none;
}
#home {
    height: 100%;
    width: 100%;
   
}
.bg-home {
    width: 100%;
    height: 100vh;
    background-image: url(1st\ bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    
}

h1 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #1025A1;


}
.intro-container {
    background-color: white;
    border-radius: 6.25rem;
    width: max-content;
    height: max-content;
    padding: 1rem;
    z-index: 1;
}

.intro {
    position: absolute;
    width: 99vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#team {
    height: 100vh;
    width: 100vw;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.our-team {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: max-content;
    width: max-content;
    font-size: 1.625rem;
    font-style: bold;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #FFDE59;
    margin-bottom: 1.5rem;


}
.left-team-mates-container {
    
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.team-mates-container {
    width: 70%;
    max-height: max-content;
    background: rgba(91,89,89,0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(91,89,89,0.25);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    z-index: 1;
    border-radius: .928rem;
   

}
.pm-container {
    
    display: flex;
    align-items: center;
    width: max-content;
    flex-direction: column;
}
.pm-pic {
 width: 6.625rem;
 height: 6.625rem;
 border-radius: 1.563rem;
 background-image: url(leo.jpg); 
 background-position: center;
 background-size: cover;

}
.right-team-mates-container {
    
    max-width: 60%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

}
.members-container {
    align-items: center;  
    width: 9.375rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: .626rem;
    

}

.members-pic {
    background-image: url(leo.jpg);
    width: 4.7rem;
    height: 4.7rem;
    background-size: cover;
    background-position: center;
    border-radius: 1.563rem;  
     
}

.members-role, .pm-role {
    font-size: .626rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.members-name, .pm-name {
    font-size: 1rem;
    font-style: bold;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #FFDE59;


    
}
.team-bg {
    width: 100%;
    height: 100vh;
    background-image: url(2nd\ bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}
.programs-course {
   display: flex;
   flex-wrap: wrap;
   font-family: 'Poppins', sans-serif;
}
.programs-course a {
    color: black;
    text-decoration: none;
}
.programs-course a:hover {
    color: #1025A1;
}
/* team media */
@media (max-width:1071px) {
    .team-mates-container {
        width: 75%;
    }
}
@media (max-width:999px) {
    .team-mates-container {
        width: 80%;
    }
}
@media (max-width:999px) {
    .team-mates-container {
        width: 80%;
    }
    
}
@media (max-width:937px) {
    .team-mates-container {
        width: 85%;
    }
    
}
@media (max-width:882px) {
    .team-mates-container {
        width: 90%;
    }
    
}
@media (max-width:833px) {
    .team-mates-container {
        width: 95%;
    }
    
}
@media (max-width:789px) {
    .team-mates-container {
        width: 100%;
    }
    
}
@media (max-width:749px) {
    .our-team {
        font-size: 1.425rem;
        margin-bottom: 1.5rem;

    }
    .left-team-mates-container {
        width: 40%;
        height: 100%;
        
    }
    .team-mates-container {
        width: 100%;
        max-height: max-content;
        padding: 1.5rem;
        border-radius: .928rem;
       
    
    }
    .pm-pic {
     width: 4.625rem;
     height: 4.625rem;
     border-radius: 1.563rem;
    
    }
    .right-team-mates-container {
        max-width: 60%;
        max-height: 100%;
        
    }
    .members-container {
        width: 7.375rem;
        margin-bottom: .626rem;
    }
    
    .members-pic {
        width: 4.7rem;
        height: 4.7rem;
        border-radius: 1.563rem;  
         
    }
    
    .members-role, .pm-role {
        font-size: .526rem;
    }
    .members-name, .pm-name {
        font-size: .940rem;  
    }
}
@media (max-width:749px) {
    .our-team {
        font-size: 1.425rem;
        margin-bottom: 1.5rem;
    }
    .left-team-mates-container {
        width: 40%;
        height: 100%;
    }
    .team-mates-container {
        width: 100%;
        max-height: max-content;
        padding: 1.5rem;
        border-radius: .928rem;
       
    
    }
    .pm-pic {
     width: 4.625rem;
     height: 4.625rem;
     border-radius: 1.563rem;
    
    }
    .right-team-mates-container {
        max-width: 60%;
        max-height: 100%;
    }
    .members-container {
        width: 7.375rem;
        margin-bottom: .626rem;
    }
    
    .members-pic {
        width: 4.7rem;
        height: 4.7rem;
        border-radius: 1.563rem;  
         
    }
    
    .members-role, .pm-role {
        font-size: .526rem;
    }
    .members-name, .pm-name {
        font-size: .940rem;
        color: #FFDE59;   
    }
    
}

@media (max-width:589px) {
    .our-team {
        font-size: 1.425rem;
        margin-bottom: 1.5rem;
    }
    .left-team-mates-container {
        width: 40%;
        height: 100%;
    }
    .team-mates-container {
        width: 100%;
        max-height: max-content;
        padding: 1.5rem;
        border-radius: .928rem;

    }
    .pm-container {
        width: 5.775rem;
    }
    .pm-pic {
     width: 4.625rem;
     height: 4.625rem;
     border-radius: 1.563rem;
    
    }
    .right-team-mates-container {
        max-width: 60%;
        max-height: 100%;
    }
    .members-container {
        width: 5.775rem;
        margin-bottom: .626rem;
    }
    
    .members-pic {
        width: 4.625rem;
        height: 4.625rem;
        border-radius: 1.563rem;  
         
    }
    
    .members-role, .pm-role {
        font-size: .426rem;
    }
    .members-name, .pm-name {
        font-size: .640rem;
        color: #FFDE59;   
    }
    
}
@media (max-width:461px) {
    .our-team {
        font-size: 1.425rem; 
    }
    .left-team-mates-container {
        width: 40%;
        height: 100%;
        margin-bottom: 2%;
    }
    .team-mates-container {
        width: 100%;
        max-height: max-content;
        padding: 1.5rem;
        border-radius: .928rem;
        display: flex;
        flex-direction: column;
        align-items: center;

    }  
    .pm-container {
        width: 5.775rem;
    }
    .pm-pic {
     width: 4.625rem;
     height: 4.625rem;
     border-radius: 1.563rem;
    
    }
    .right-team-mates-container {
        max-width: 70%;
        max-height: 100%;
    }
    .members-container {
        width: 5.775rem;
        margin-bottom: .626rem;
    }
    
    .members-pic {
        width: 3.625rem;
        height: 3.625rem;
        border-radius: 1.563rem;  
         
    }
    
    .members-role, .pm-role {
        font-size: .426rem;
    }
    .members-name, .pm-name {
        font-size: .640rem;
        color: #FFDE59;   
    }
    
}
@media (max-width:420px) {
    .our-team {
        font-size: 1.425rem;
        margin-bottom: 1.5rem;
    }
    .left-team-mates-container {
        width: 40%;
        height: 100%;

    }
    .team-mates-container {
        width: 100%;
        max-height: max-content;
        padding: 1.5rem;
        border-radius: .928rem;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .pm-container {
    }
    .pm-pic {
     width: 4.625rem;
     height: 4.625rem;
     border-radius: 1.563rem;
    
    }
    .right-team-mates-container {
        max-width: 70%;
        max-height: 100%;
    }
    .members-container {
        width: 4.765rem;
        margin-bottom: .626rem;
    }
    
    .members-pic {
        width: 4.625rem;
        height: 4.625rem;
        border-radius: 1.563rem;  
         
    }
    
    .members-role, .pm-role {
        font-size: .426rem;
    }
    .members-name, .pm-name {
        font-size: .640rem;
        color: #FFDE59;   
    }
    
}

@media (max-width:375px) {
    .our-team {
        font-size: 1.425rem;
        margin-bottom: 1.5rem;
    }
    .left-team-mates-container {
        width: 40%;
        height: 100%;
    }
    .team-mates-container {
        width: 100%;
        max-height: max-content;
        padding: 1.5rem;
        border-radius: .928rem;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .pm-container {
    }
    .pm-pic {
     width: 4.625rem;
     height: 4.625rem;
     border-radius: 1.563rem;
    
    }
    .right-team-mates-container {
        max-width: 70%;
        max-height: 100%;
    }
    .members-container {
        width: 4.775rem;
        margin-bottom: .626rem;
    }
    
    .members-pic {
        width: 3.625rem;
        height: 3.625rem;
        border-radius: 1.563rem;  
         
    }
    
    .members-role, .pm-role {
        font-size: .426rem;
    }
    .members-name, .pm-name {
        font-size: .540rem;
        color: #FFDE59;   
    }
    
}

@media (max-width:327px) {
    .our-team {
        font-size: 1.425rem;
        margin-bottom: 1.5rem;
    }
    .left-team-mates-container {
        width: 40%;
        height: 100%;
    }
    .team-mates-container {
        width: 100%;
        max-height: max-content;
        padding: 1.5rem;
        border-radius: .928rem;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .pm-container {
    }
    .pm-pic {
     width: 4.625rem;
     height: 4.625rem;
     border-radius: 1.563rem;
    
    }
    .right-team-mates-container {
        max-width: 80%;
        max-height: 100%;
    }
    .members-container {
        width: 4.775rem;
        margin-bottom: .626rem;
    }
    
    .members-pic {
        width: 3.625rem;
        height: 3.625rem;
        border-radius: 1.563rem;  
         
    }
    
    .members-role, .pm-role {
        font-size: .426rem;
    }
    .members-name, .pm-name {
        font-size: .540rem;
        color: #FFDE59;   
    }
    
}
#programs {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.programs-logo {
    background-image: url(qcu\ logo.png);
    width: 6.668rem;
    height: 6.668rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
}
.programs-container {
    width: 12.813rem;
    height: 12.813rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: .626rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 1%;
    background-color: white;
    margin-bottom: 1%; 
    
}
header span {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;

}
.programs-course {
    height: 2.813rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: ’Poppins’;
    font-weight: bold;
    color: black;
    font-size: 1rem;
   
}
.main-programs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 50%;
    height: max-content;
    align-items: center;
    
}



@media (max-width: 425px) {
    
   
    header span {
        font-size: .9rem;
    }
    .main-programs-container {
        max-width: 90%;
    }
}
@media (max-width: 484px) {
    h1 {
        font-size: 1.4rem;
    }
    .nav-title {
        font-size: .7rem;
    }
}
#careers {
    height: 210vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
@media (max-width: 1309px) {

    .main-programs-container {
        max-width: 65%;
    }
}
@media (max-width: 1006px) {
    #programs {
        
    }
    .programs-container {
        background-color: white;
    }
    .main-programs-container {
        max-width: 70%;
    }
}
@media (max-width: 931px) {

    .main-programs-container {
        max-width: 80%;
    }
}
@media (max-width: 854px) {
    .programs-container {
        width: 7.8rem;
        height: 7.8rem;
    }
    header span {
        font-size: 1.5rem;
    }
    .programs-course {
        font-size: .719rem;
    }
    .main-programs-container {
        max-width: 60%;
    }
}
@media (max-width: 433px) {
    .programs-container {
        width: 7.1rem;
        height: 7.1rem;
    }
    header span {
        font-size: 1.2rem;
    }
    .programs-course {
        font-size: .619rem;
    }
    .main-programs-container {
        max-width: 100%;
    }
    #programs {
        height: 100vh;
    }
   
}
@media (max-width: 362px) { 
   
    .main-programs-container {
        justify-content: space-around;
    }
    
}
.job-container {
    flex-wrap: wrap;
    width: 80%;
    background-color: white;
    padding: .626rem;
    border-radius: .626rem;
    margin-bottom: .626rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(91,89,89,0.25);
}
.apply-now a {
    color: #1025A1;
}
.job-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}
.job-description, .company-name, .job-salary {
    font-family: 'Poppins', sans-serif;
   
}
@media (max-width: 320px) { 
   #careers span {
    font-size: 1.2rem;
   }
   #careers {
    height: 130vh;
   }
   h1 {
    font-size: 1.2rem;
   }
    .job-title {
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
    }
    .job-description, .company-name, .job-salary, .apply-now {
        font-size: .2rem;
    }
    .job-course {
        font-size: .4rem;
    }
    .job-title {
        font-size: .4rem;
    }
    
}
@media (max-width: 375px) { 
    #careers span {
     font-size: 1.2rem;
    }
    #careers {
     height: 110vh;
    }  
    h1 {
     font-size: 1.2rem;
    }
     .job-title {
         font-family: 'Poppins', sans-serif;
         font-size: 1.2rem;
     }
     .job-description, .company-name, .job-salary, .apply-now {
         font-size: .4rem;
     }
     .job-course {
         font-size: .6rem;
     }
     .job-title {
         font-size: .6rem;
     }
     
 }
 @media (max-width: 425px) { 
    #careers span {
     font-size: 1.2rem;
    }
    #careers {
     height: 110vh;
    }  
    h1 {
     font-size: 1.2rem;
    }
     .job-title {
         font-family: 'Poppins', sans-serif;
         font-size: 1.2rem;
     }
     .job-description, .company-name, .job-salary, .apply-now {
         font-size: .4rem;
     }
     .job-course {
         font-size: .6rem;
     }
     .job-title {
         font-size: .6rem;
     }
 }
#signup {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    z-index: 1;
    
}
 .sign-up-container {
    width: 90%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder; 
    color: white;
    border-radius: .313rem;
    background: rgba(8, 1, 1, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(91,89,89,0.25);
    z-index: 1;
 }
.sign-up-left-container {
    width: 50%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    font-size: 3rem;   
    padding: 5%;
}
.sign-up-right-container {
    width: 50%;
    height: 60vh;
    padding: 5%;
}
#signup input {
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder; 
}
::placeholder {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder; 
}
input:focus {
   outline: none;
  }
#signup hr {
    margin-bottom: 5%;
}
.sign-up-button-container {
    display: flex;
    justify-content: flex-end;
    
}
#signup button {
    background-color: #1025A1;
    outline: none;
    border: none;
    padding: 0.5rem .375rem;
    border-radius: .313rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    
}
#signup button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: .3s;
}


.sign-up-bg {
    background-image: url(3rd\ bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    position: absolute;  
} 
@media (max-width:493px)  {
    #signup span {
        font-size: 1.1rem;
    }
    #signup ::placeholder {
        font-size: .599rem;
    }
   
}

